.odliczanie {
    width: 500px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    counter-reset: countdown 10;
    animation: finalcount 9s linear;

}

.odliczanie::after {
    animation: showtext 1s 9s linear infinite;
    content: counter(countdown);
    font-size: 10em;
    font-family: 'Calibri'; 
    align-items: center;
}



@keyframes finalcount {
    0% {
        counter-increment: countdown 0;
    }

    11% {
        counter-increment: countdown -1;
    }

    22% {
        counter-increment: countdown -2;
    }

    33% {
        counter-increment: countdown -3;
    }

    44% {
        counter-increment: countdown -4;
    }

    55% {
        counter-increment: countdown -5;
    }

    66% {
        counter-increment: countdown -6;
    }

    77% {
        counter-increment: countdown -7;
    }

    88% {
        counter-increment: countdown -8;
    }

    100% {
        counter-increment: countdown -9;
    }

}

@keyframes showtext {
    0% {
        content: 'I love CSS :)';
        font-size: 6em;
        align-self: center;
    }

    100% {
        content: 'I love CSS :)';
        font-size: 6em;
        align-self: center;
    }
}