.container {
    width: 850px;
    height: 850px;
    background-color: gray;
    position: static;
}

.rectangle {
    height: 200px;
    width: 200px;
    background-color: rgb(42, 37, 32);
    display: inline-block;
    position: static;
    margin-top: 8px;
    margin-left: 8px;
}

.red {
    background-color: red;
    position: relative;
    left: 8%;
    top: -3%;
}

.green {
    background-color: green;
    position: relative;
    left: 5%;
    top: 5%;
}